html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open-Sans", sans-serif;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.header-navigation {
  padding: 10px 0;
  background-color: rgba(231, 88, 88, 0.747);
  color: rgb(0, 0, 0);
}

.header-logo {
  margin-right: 300px;
  float: left;
  color: black;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  display: inline-block;
}

.menu-link {
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 16px;
}

.clearfix: { after;
content: "";
clear: both;
display: table;
}

